@import '~antd/lib/style/themes/default.less';

@header-hover-bg: rgba(0, 0, 0, 0.025);

.layoutHeader {
  padding: 0;
}
.header {
  height: @layout-header-height;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  position: relative;
}
.trigger {
  font-size: 20px;
  height: @layout-header-height;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
  padding: ~'calc((@{layout-header-height} - 20px) / 2)' 24px;
  &:hover {
    background: @header-hover-bg;
  }
}

